@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
    /* background-color: rgb(15,15,15); */
    background-color: #24252A;
}

body{
    transition: 0.7s ease;
}

a
{
    text-decoration: none;
}


.item{
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  font-size:40px;
  color:white;
  transition: .4s;
}

.item:hover{
    transform: translateY(-5px);
}

.link{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size:30px;
    color:white;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:26px;
    color:whtie;
    color:white;
}

.header__main{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding:30px 10px;
}

.photo{
    object-fit:cover;
    height:500px;
    width:500px;
    margin:120px 100px;
    margin-left:50px;
    border-radius: 50%;
}

.items{
    list-style: none;
}

.items .item{
    display: inline-block;
    padding:0 80px;
    margin:0 30px;
}

.items .item a{
  color:white;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.items .item a:hover{
    color:rgba(127,220,188,1)
}

button{
    position: absolute;
    right:100px;
    font-size: 20px;
    padding:9px 30px;
    background-color:rgba(127,220,188,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}


button:hover{
    background-color: rgba(127,220,188,0.8);
}

#content{
    position: absolute;
    top:40%;
    left:50%;
    color:#fff;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 3px;
}

.develop{
    display: block;
    color:rgba(127,220,188,1);
    line-height: 100px;
    letter-spacing: 5px;
    margin-left:50px;
    font-weight: 600;
    background-color:transparent;
}

 

.welcome{
    display: none;
    position: absolute;
    top:15%;
    left:33%;
    font-size:50px;
    background-color: transparent;
    color:white;
}

.welcome.show{
    display: inline-block;
    position: absolute;
    transition:0.7s all ease;
    top:15%;
    left:33%;
    font-size:50px;
    background-color: transparent;
    color:white;
}

#home-icon{
    display: flex;
    justify-content:center;
    align-items:center;
}

.home-title{
    font-size:23px;
}

#skills-icon{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 40px;
}

.skill-title{
    font-size: 23px;
    padding-top: 2px;
}

#about-icon{
    display: flex;
    justify-content: center;
    align-items:center;
}

.about-title{
    font-size: 23px;
    padding-top:2px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    top:15%;
    left:38%;
}

.wrappers.hide{
    display: none;
}

.wrappers.show{
    display: inline-block;
}

.container-content{
    position: absolute;
    margin-top:150px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    height:300px;
    width:400px;
    background-color: #24252A;
    border-radius:20px;
    z-index: 2;
    border:3px solid rgb(127,220,188);
}

.title-content{
    margin-top: 10px;
    position: absolute;
    left:36%;
    top:5px;
    font-weight: 700;
    font-size:30px;
    color:rgb(127,220,188);

}

.li-items{
    background-color:gray;
}

.tel{
    color:white;
    opacity: 0.6;
    transition: 0.7s ease-in;
    padding-left: 7px;
    font-size:20px;
}

.item-li{
    list-style: none;
    padding: 10px 15px;
}

.gmail{
    transition: 0.7s ease-in;
    padding-left:7px;
    color:white;
    opacity: 0.6;
    font-size: 20px;
}

.location{
    transition: 0.7s ease-in;
    padding-left: 7px;
    color:white;
    opacity: 0.6;
}


.tel:hover{
    color:rgba(127, 255, 212,1);
    opacity: 1;
}


.gmail:hover{
    color:aquamarine;
    opacity: 1;
}

#title-location{
    font-size: 20px;
}

.location:hover{
    color:aquamarine;
    opacity: 1;
}

.git-icon{
    color:black;
    transition: 0.7s ease-in;
}

.git-icon:hover{
    color:aquamarine;
    text-shadow: 1px 1px 2px aquamarine;
}

#tel-icon{
    font-size: 22px;
    color:aquamarine;
}

#gmail-icon{
    font-size: 22px;
    color:aquamarine;
}

#location{
    font-size: 22px;
    color:aquamarine;
}


.item-li-git{
    position: absolute;
    color:black;
    list-style: none;
    font-size: 50px;
    bottom: 15px;
    left:20%;
}

.item-li-linked{
    list-style: none;
    position: absolute;
    list-style: none;
    font-size: 50px;
    bottom: 15px;
    left:65%;
}

.linked-icon{
    color:black;
    transition: 0.7s ease-in;
}

.linked-icon:hover{
    color:aquamarine;
    text-shadow: 1px 1px 2px aquamarine;
}

.text{
    color:red;
}

.container-skills{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-top:40px;
    margin-left: 100px;
}

.skills-langauges{
    color:white;
    margin-top:10%;
    font-size: 20px;
}

.title-languages{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    color:white;
    opacity: 0.7;
    transition: 0.7s ease-in;
    font-size:50px;
}

.title-languages:hover{
    color:aquamarine;
    text-shadow: 1px 1px 2px aquamarine;
}

.languages-item:first-child{
   margin-top:50px;
}

.languages-item:hover{
    transform: transformY(-5px);
    color:aquamarine;
    text-shadow: 0.5px 0.5px 0.5px aquamarine;
}

.languages-item{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
    padding:10px 15px;
    letter-spacing: 1px;
    font-size:40px;
    transition: 0.4s ease-in-out;
}

.converstacional{
    padding-left: 10px;
}

.skills-programming{
    position: absolute;
    top:37%;
    left:55%;
}

.list-skills{
    font-size:40px;
    color:white;
    opacity: 0.7;
    position: absolute;
}
.span-skills{
    display: inline;
}

.skills-list:first-child{
    margin-top:80px;
}

.span-skills{
    color:aquamarine;
}

.skills-list{
    display: flex;
    justify-content: center;
    align-items:center;
   min-width:350px;
   font-size:30px;
   color:white;
   letter-spacing:2px;
}

.aca{
    position: absolute;
    top: 64%;
    left:62%;
    padding-top: 20px;
    font-size:24px;
    color:white;
    opacity: 0.7;
    background-color:transparent;
    max-width: 500px;
}

.hobby{
    display: flex;
    justify-content: flex-start;
    margin-left:70px;
    align-items: center;
    margin-top:50px;
}

.hobby-title{
    position: absolute;
    top:250px;
    font-size:40px;
    color:white;
    opacity: 0.7;
    transition: .4s;
}

.hobby-title:hover{
    color:aquamarine;
    opacity: 1;
    transform: translateY(-5px);
    text-shadow: .5px .5px 2px aquamarine;
    font-size:50px;
}

.hob{
    position: absolute;
    font-size:30px;
    color:white;
    top:360px;
    max-width: 500px;
}

.school{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-left:60%;
    margin-top:75px;
    transition: .4s;
}

.school-title{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:40px;
    color:white;
    opacity: 0.7;
    transition: .4s;
}

.school-title:hover{
    color:aquamarine;
    opacity: 1;
    transform: translateY(-5px);
    text-shadow: .5px .5px 2px aquamarine;
}

.text-school{
    position: absolute;
    font-size:30px;
    color:white;
    top:360px;
    max-width: 400px;
}

.separately{
    color:aquamarine;
    background-color:transparent;
}

#learn{
    position: absolute;
    top:470px;
    background-color:transparent;
}

.aca-academy{
    position: absolute;
    top: 60%;
    left:58%;
    padding-top: 36px;
    font-size:24px;
    color:white;
    opacity: 0.7;
    background-color:transparent;
    max-width: 500px;
}